## Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# 1. Data Wrangling

## 1.1. Data Loading

In [4]:
df = pd.read_csv('Energy_and_Water_Data_Disclosure_for_Local_Law_84_2017__Data_for_Calendar_Year_2016_.csv')
df.head()

,Order,Property Id,Property Name,Parent Property Id,Parent Property Name,BBL - 10 digits,"NYC Borough, Block and Lot (BBL) self-reported",NYC Building Identification Number (BIN),Address 1 (self-reported),Address 2,...,Source EUI (kBtu/ft²),Release Date,Water Required?,DOF Benchmarking Submission Status,Latitude,Longitude,Community Board,Council District,Census Tract,NTA
0,1,13286,201/205,13286,201/205,1013160001,1013160001,1037549,201/205 East 42nd st.,Not Available,...,619.4,05/01/2017 05:32:03 PM,No,In Compliance,40.750791,-73.973963,6.0,4.0,88.0,Turtle Bay-East Midtown ...
1,2,28400,NYP Columbia (West Campus),28400,NYP Columbia (West Campus),1021380040,1-02138-0040,1084198; 1084387;1084385; 1084386; 1084388; 10...,622 168th Street,Not Available,...,404.3,04/27/2017 11:23:27 AM,No,In Compliance,40.841402,-73.942568,12.0,10.0,251.0,Washington Heights South ...
2,3,4778226,MSCHoNY North,28400,NYP Columbia (West Campus),1021380030,1-02138-0030,1063380,3975 Broadway,Not Available,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.840427,-73.940249,12.0,10.0,251.0,Washington Heights South ...
3,4,4778267,Herbert Irving Pavilion & Millstein Hospital,28400,NYP Columbia (West Campus),1021390001,1-02139-0001,1087281; 1076746,161 Fort Washington Ave,177 Fort Washington Ave,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.840746,-73.942854,12.0,10.0,255.0,Washington Heights South ...
4,5,4778288,Neuro Institute,28400,NYP Columbia (West Campus),1021390085,1-02139-0085,1063403,710 West 168th Street,Not Available,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.841559,-73.942528,12.0,10.0,255.0,Washington Heights South ...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11435 entries, 0 to 11434
Data columns (total 60 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Order                                                       11435 non-null  int64
 1   Property Id                                                 11435 non-null  int64
 2   Property Name                                               11435 non-null  object
 3   Parent Property Id                                          11435 non-null  object
 4   Parent Property Name                                        11434 non-null  object
 5   BBL - 10 digits                                             11423 non-null  object
 6   NYC Borough, Block and Lot (BBL) self-reported              11434 non-null  object
 7   NYC Building Identification Number (BIN)                    11434 non-null  object
 8   Address 1 (self-reported)                                   11434 non-null  object
 9   Address 2                                                   11434 non-null  object
 10  Postal Code                                                 11434 non-null  object
 11  Street Number                                               11314 non-null  object
 12  Street Name                                                 11316 non-null  object
 13  Borough                                                     11320 non-null  object
 14  DOF Gross Floor Area                                        11320 non-null  float64
 15  Primary Property Type - Self Selected                       11434 non-null  object
 16  List of All Property Use Types at Property                  11434 non-null  object
 17  Largest Property Use Type                                   11434 non-null  object
 18  Largest Property Use Type - Gross Floor Area (ft²)          11434 non-null  object
 19  2nd Largest Property Use Type                               11434 non-null  object
 20  2nd Largest Property Use - Gross Floor Area (ft²)           11434 non-null  object
 21  3rd Largest Property Use Type                               11434 non-null  object
 22  3rd Largest Property Use Type - Gross Floor Area (ft²)      11434 non-null  object
 23  Year Built                                                  11434 non-null  float64
 24  Number of Buildings - Self-reported                         11434 non-null  float64
 25  Occupancy                                                   11434 non-null  float64
 26  Metered Areas (Energy)                                      11434 non-null  object
 27  Metered Areas  (Water)                                      11434 non-null  object
 28  ENERGY STAR Score                                           11434 non-null  object
 29  Site EUI (kBtu/ft²)                                         11434 non-null  object
 30  Weather Normalized Site EUI (kBtu/ft²)                      11434 non-null  object
 31  Weather Normalized Site Electricity Intensity (kWh/ft²)     11434 non-null  object
 32  Weather Normalized Site Natural Gas Intensity (therms/ft²)  11434 non-null  object
 33  Weather Normalized Source EUI (kBtu/ft²)                    11434 non-null  object
 34  Fuel Oil #1 Use (kBtu)                                      11434 non-null  object
 35  Fuel Oil #2 Use (kBtu)                                      11434 non-null  object
 36  Fuel Oil #4 Use (kBtu)                                      11434 non-null  object
 37  Fuel Oil #5 & 6 Use (kBtu)                                  11434 non-null  object
 38  Diesel #2 Use (kBtu)                                        11434 non-null  object
 39  District Steam Use (kBtu)                                   11434 non-null  object
 40  Natural Gas Use (kBtu)                                      11434 non-null  object
 41  Weather Normalized Site Natural Gas Use (therms)            11434 non-null  object
 42  Electricity Use - Grid Purchase (kBtu)                      11434 non-null  object
 43  Weather Normalized Site Electricity (kWh)                   11434 non-null  object
 44  Total GHG Emissions (Metric Tons CO2e)                      11434 non-null  object
 45  Direct GHG Emissions (Metric Tons CO2e)                     11434 non-null  object
 46  Indirect GHG Emissions (Metric Tons CO2e)                   11434 non-null  object
 47  Property GFA - Self-Reported (ft²)                          11434 non-null  float64
 48  Water Use (All Water Sources) (kgal)                        11434 non-null  object
 49  Water Intensity (All Water Sources) (gal/ft²)               11434 non-null  object
 50  Source EUI (kBtu/ft²)                                       11434 non-null  object
 51  Release Date                                                11434 non-null  object
 52  Water Required?                                             11328 non-null  object
 53  DOF Benchmarking Submission Status                          11434 non-null  object
 54  Latitude                                                    9306 non-null   float64
 55  Longitude                                                   9306 non-null   float64
 56  Community Board                                             9306 non-null   float64
 57  Council District                                            9306 non-null   float64
 58  Census Tract                                                9306 non-null   float64
 59  NTA                                                         9306 non-null   object
dtypes: float64(10), int64(2), object(48)
memory usage: 5.2+ MB

## 1.2. Data Cleaning

> Note

> 34→37(sum)

In [6]:
df = df[df.columns[ [1, 24, 28, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 47, 48, 49, 50, 52, 59] ]]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11435 entries, 0 to 11434
Data columns (total 19 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Property Id                                       11435 non-null  int64
 1   Number of Buildings - Self-reported               11434 non-null  float64
 2   ENERGY STAR Score                                 11434 non-null  object
 3   Fuel Oil #1 Use (kBtu)                            11434 non-null  object
 4   Fuel Oil #2 Use (kBtu)                            11434 non-null  object
 5   Fuel Oil #4 Use (kBtu)                            11434 non-null  object
 6   Fuel Oil #5 & 6 Use (kBtu)                        11434 non-null  object
 7   Diesel #2 Use (kBtu)                              11434 non-null  object
 8   Natural Gas Use (kBtu)                            11434 non-null  object
 9   Weather Normalized Site Natural Gas Use (therms)  11434 non-null  object
 10  Electricity Use - Grid Purchase (kBtu)            11434 non-null  object
 11  Weather Normalized Site Electricity (kWh)         11434 non-null  object
 12  Total GHG Emissions (Metric Tons CO2e)            11434 non-null  object
 13  Property GFA - Self-Reported (ft²)                11434 non-null  float64
 14  Water Use (All Water Sources) (kgal)              11434 non-null  object
 15  Water Intensity (All Water Sources) (gal/ft²)     11434 non-null  object
 16  Source EUI (kBtu/ft²)                             11434 non-null  object
 17  Water Required?                                   11328 non-null  object
 18  NTA                                               9306 non-null   object
dtypes: float64(2), int64(1), object(16)
memory usage: 1.7+ MB

In [8]:
df.drop_duplicates(inplace=True)
df[df.columns[0]].size

11435

In [9]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9232 entries, 0 to 10792
Data columns (total 19 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Property Id                                       9232 non-null   int64
 1   Number of Buildings - Self-reported               9232 non-null   float64
 2   ENERGY STAR Score                                 9232 non-null   object
 3   Fuel Oil #1 Use (kBtu)                            9232 non-null   object
 4   Fuel Oil #2 Use (kBtu)                            9232 non-null   object
 5   Fuel Oil #4 Use (kBtu)                            9232 non-null   object
 6   Fuel Oil #5 & 6 Use (kBtu)                        9232 non-null   object
 7   Diesel #2 Use (kBtu)                              9232 non-null   object
 8   Natural Gas Use (kBtu)                            9232 non-null   object
 9   Weather Normalized Site Natural Gas Use (therms)  9232 non-null   object
 10  Electricity Use - Grid Purchase (kBtu)            9232 non-null   object
 11  Weather Normalized Site Electricity (kWh)         9232 non-null   object
 12  Total GHG Emissions (Metric Tons CO2e)            9232 non-null   object
 13  Property GFA - Self-Reported (ft²)                9232 non-null   float64
 14  Water Use (All Water Sources) (kgal)              9232 non-null   object
 15  Water Intensity (All Water Sources) (gal/ft²)     9232 non-null   object
 16  Source EUI (kBtu/ft²)                             9232 non-null   object
 17  Water Required?                                   9232 non-null   object
 18  NTA                                               9232 non-null   object
dtypes: float64(2), int64(1), object(16)
memory usage: 1.4+ MB

In [10]:
df.drop(
    [df.columns[2], df.columns[3], df.columns[4], df.columns[5], df.columns[6], df.columns[15]],
    axis='columns',
    inplace=True
)

df_3_6_sum = pd.Series([0]*df[df.columns[4]].size)
df.info()
df.head(15)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9232 entries, 0 to 10792
Data columns (total 13 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Property Id                                       9232 non-null   int64
 1   Number of Buildings - Self-reported               9232 non-null   float64
 2   Diesel #2 Use (kBtu)                              9232 non-null   object
 3   Natural Gas Use (kBtu)                            9232 non-null   object
 4   Weather Normalized Site Natural Gas Use (therms)  9232 non-null   object
 5   Electricity Use - Grid Purchase (kBtu)            9232 non-null   object
 6   Weather Normalized Site Electricity (kWh)         9232 non-null   object
 7   Total GHG Emissions (Metric Tons CO2e)            9232 non-null   object
 8   Property GFA - Self-Reported (ft²)                9232 non-null   float64
 9   Water Use (All Water Sources) (kgal)              9232 non-null   object
 10  Source EUI (kBtu/ft²)                             9232 non-null   object
 11  Water Required?                                   9232 non-null   object
 12  NTA                                               9232 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 1009.8+ KB

,Property Id,Number of Buildings - Self-reported,Diesel #2 Use (kBtu),Natural Gas Use (kBtu),Weather Normalized Site Natural Gas Use (therms),Electricity Use - Grid Purchase (kBtu),Weather Normalized Site Electricity (kWh),Total GHG Emissions (Metric Tons CO2e),Property GFA - Self-Reported (ft²),Water Use (All Water Sources) (kgal),Source EUI (kBtu/ft²),Water Required?,NTA
0,13286,2.0,Not Available,Not Available,Not Available,38139374.2,1.10827705E7,6962.2,762051.0,Not Available,619.4,No,Turtle Bay-East Midtown ...
1,28400,12.0,Not Available,933073441,9330734.4,332365924,9.62613121E7,55870.4,3889181.0,Not Available,404.3,No,Washington Heights South ...
2,4778226,1.0,Not Available,Not Available,Not Available,Not Available,Not Available,0,231342.0,Not Available,Not Available,No,Washington Heights South ...
3,4778267,1.0,Not Available,Not Available,Not Available,Not Available,Not Available,0,1305748.0,Not Available,Not Available,No,Washington Heights South ...
4,4778288,1.0,Not Available,Not Available,Not Available,Not Available,Not Available,0,179694.0,Not Available,Not Available,No,Washington Heights South ...
5,28402,12.0,Not Available,1.4322508769E9,1.43225088E7,86335350.5,2.45508594E7,54429.8,2971874.0,Not Available,414.2,No,Lenox Hill-Roosevelt Island ...
6,4778352,1.0,Not Available,Not Available,Not Available,Not Available,Not Available,0,245000.0,Not Available,Not Available,Yes,Lenox Hill-Roosevelt Island ...
7,2610789,4.0,Not Available,394285242148,3.9428524215E9,Not Available,Not Available,20943400,2738875.0,107151.5,151172.9,Yes,Glen Oaks-Floral Park-New Hyde Park ...
8,2611745,1.0,Not Available,Not Available,Not Available,227658.1,63979.9,21.1,200.0,19261.1,3574.2,Yes,Glen Oaks-Floral Park-New Hyde Park ...
9,3616379,1.0,Not Available,Not Available,Not Available,Not Available,Not Available,0,912892.0,Not Available,Not Available,Yes,Glen Oaks-Floral Park-New Hyde Park ...
10,5870374,1.0,Not Available,Not Available,Not Available,Not Available,Not Available,0,912892.0,Not Available,Not Available,Yes,Glen Oaks-Floral Park-New Hyde Park ...
15,5245390,1.0,Not Available,Not Available,Not Available,Not Available,Not Available,0,567517.0,Not Available,Not Available,Yes,Old Town-Dongan Hills-South Beach ...
20,4988569,1.0,Not Available,326760.6,3301.9,1081789.4,308074.6,689,116744.0,Not Available,97.7,Yes,Washington Heights North ...
23,4988688,1.0,Not Available,59412.9,601,923332.2,262377.2,88.8,54913.0,231.9,53.9,Yes,Upper East Side-Carnegie Hill ...
25,4954491,1.0,Not Available,0,0,0,0,0,256528.0,Not Available,0,Yes,Morningside Heights ...

## Project Abandoned!